<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/fontawesome-all.css" rel="stylesheet">
    <link href="static/css/swiper.css" rel="stylesheet">
	<link href="static/css/magnific-popup.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="static/images/favicon.png">
</head>

<bodydata-spy="scroll" data-target=".fixed-top">
    
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container">
          
          <!-- Text Logo - Use this if you don't have a graphic logo -->
          <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Lomar</a> -->

          <!-- Image Logo -->
          <a class="navbar-brand logo-image" href="/index"><img src="static/images/download.svg" alt="alternative"></a> 

          <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link page-scroll" href="/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/notebook">Notebook</a>
                </li>

                  <li class="nav-item">
                      <a class="nav-link page-scroll" href="/login">Signout</a>
                  </li>
                  
              </ul>
              <span class="nav-item social-icons">
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x"></i>
                      </a>
                  </span>
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x"></i>
                      </a>
                  </span>
              </span>
          </div> <!-- end of navbar-collapse -->
      </div> <!-- end of container -->
  </nav> <!-- end of navbar -->
  <!-- end of navigation -->

<!-- Header -->
<header class="ex-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-10 offset-xl-1">
                    <h1>Optimal Weight-Tuning for Unbalanced Data in Credit Card Fraud Detection</h1>
              
              <br>
              
          </div> <!-- end of col -->
         
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 pt-4">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
     <div class="row">
        <form action='/predict' method="post" class="col s12">
            
                <div class="input-field col s4">
                    <label for="first_name"><b>Time</b></label>
                    <br>
                    <input name="1" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V1 </b></label>
                    <br>
                    <input id="last_name" name="2" type="text" class="validate">
    
                </div>
    
                <div class="input-field col s4">
                    <label for="_name"><b>V2</b></label>
                    <br>
                    <input id="_name" name="3" type="text" class="validate">
    
                </div>
                <div class="input-field col s4">
                    <label for="first_name"><b>V3</b></label>
                    <br>
                    <input name="4" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V4</b></label>
                    <br>
                    <input id="last_name" name="5"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                  <label ><b>V5</b></label>
                  <br>
                  <input name = '6'  type="text" class="validate">

                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V6</b></label>
                    <br>
                    <input id="last_name" name="7" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="_name"><b>V7</b></label>
                    <br>
                    <input id="_name" name="8" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name1"><b>V8</b></label>
                    <br>
                    <input id="_name1" name="9" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name3"><b>V9</b></label>
                    <br>
                    <input id="_name3" name="10" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name32"><b>V10</b></label>
                    <br>
                    <input id="_name32" name="11"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name31"><b>V11</b></label>
                    <br>
                    <input id="_name31" name="12" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name33"><b>V12</b></label>
                    <br>
                    <input id="_name33" name="13"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name34"><b>V13</b></label>
                    <br>
                    <input id="_name34" name="14"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="_name34"><b>V14</b></label>
                    <br>
                    <input id="_name34" name="15"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="first_name"><b>V15</b></label>
                    <br>
                    <input name="16" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V16 </b></label>
                    <br>
                    <input id="last_name" name="17" type="text" class="validate">
    
                </div>
    
                <div class="input-field col s4">
                    <label for="_name"><b>V17</b></label>
                    <br>
                    <input id="_name" name="18"  type="text" class="validate">
    
                </div>
                <div class="input-field col s4">
                    <label for="first_name"><b>V18</b></label>
                    <br>
                    <input name="19" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V19</b></label>
                    <br>
                    <input id="last_name" name="20"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                  <label ><b>V20</b></label>
                  <br>
                  <input name = '21' type="text" class="validate">

                </div>
                <div class="input-field col s4">
                    <label for="last_name"><b>V21</b></label>
                    <br>
                    <input id="last_name" name="22"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="_name"><b>V22</b></label>
                    <br>
                    <input id="_name" name="23" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name1"><b>V23</b></label>
                    <br>
                    <input id="_name1" name="24" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name3"><b>V24</b></label>
                    <br>
                    <input id="_name3" name="25"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name32"><b>V25</b></label>
                    <br>
                    <input id="_name32" name="26"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name31"><b>V26</b></label>
                    <br>
                    <input id="_name31" name="27"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name33"><b>V27</b></label>
                    <br>
                    <input id="_name33" name="28"  type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name34"><b>V28</b></label>
                    <br>
                    <input id="_name34" name="29" type="text" class="validate">
                </div>

                <div class="input-field col s4">
                    <label for="_name34"><b>Amount</b></label>
                    <br>
                    <input id="_name34" name="30"  type="text" class="validate">
                </div>

                
    
          </div>
    
          <div class="row center">
    
              <button style="text-align: center;" type="submit" class="btn-large waves-effect waves-light orange">Submit</button>

          </div>
        </form>
  </div>
</div>

      <br>

     
    <br><br>
  </div>
  </div>>

  <!-- Footer -->
  <div class="footer">
    <div class="container">
         <!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © <a href="#your-link">2023</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  <!-- Scripts -->
  <script src="static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <script src="static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
  <script src="static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
  <script src="static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>

